<app-spinner [showSpinner]="showLoading"></app-spinner>
<div class="container" *ngIf="!showLoading">
  <div class="row pt-3">
    <p>Please select a user to find their comments:</p>
  </div>
  <div class="row">
    <button
      class="col"
      *ngFor="let user of userList; let i = index"
      (click)="onSelectedUser(user)"
      [ngClass]="{ active: user.active && selectedUser.id === user.id }"
    >
      {{ getUserFirstName(user.name) }}
    </button>
  </div>
  <app-posts *ngIf="selectedUser" [selectedUser]="selectedUser"></app-posts>
</div>
<div *ngIf="error">Please try again after some time</div>
